<!DOCTYPE html>
<head>
<title>How do I insert link in select tag in HTML?</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
Please select city :
<select name="select-city" onchange="location = this.value;">
<option value="">Select-City</option>
 <option value="/shop/#">New Delhi</option>
 <option value="https://en.wikipedia.org/wiki/New_York">New York</option>
 <option value="https://en.wikipedia.org/wiki/Bern">Bern</option>

</select>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  </form>
</body>
</html>