{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Abraca Data</h1>
      <p>We have been facing an issue in choosing the right restaurant for the right item while
ordering on Zomato. Although Zomato has its own Restaurant viz Rating System, It’s a
tedious task to go through each restaurant and have a look at ratings and price for each
item. What if I tell you, you’ll be able to select the best restaurant for your favourite dishes
in fractions of seconds, no matter where you are. This inspires us to make a project which
analyzes the Zomato Food Delivery. Nothing is more important than time in today’s world.
Time is Precious. Hurray! We’ll save your hours and hours, which generally you used to go
through review</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      
        <h2>Objectives</h2>
        <p>We are performing food analysis of Zomato: The food delivery app ,so that people can
easily select the nearby restaurants which are most suitable and are affordable for them.
We will be performing a Data Visualization, which will help End Users to do their task easily
and rapidly.
2
They can select the cuisine according to their choice by viewing the ratings. We will predict
the timings which are most preferred while ordering the food from Zomato. Customers do
not need to ask anyone about the ratings and the food quality, they can check all of it
within a few seconds on their own. We will also analyze which category of people are more
likely to order the food from Zomato.
</p>
        
      
      
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}